<page-header title="{{ title }}" subtitle="{{ subTitle }}"></page-header>
<div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
  <mat-card>
    <mat-card-header class="p-b-24 p-x-32">
      <mat-card-title class="p-t-24 p-b-24">{{ gridTitle }}</mat-card-title>
      <mat-card-subtitle>{{ gridSummary }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="p-x-32">
        <form *ngIf="<%=camelize(name)%>" #formAction="ngForm" (ngSubmit)="save(formAction)">

        <% for (let field of model.fields) { %>

          <% if( !field.hide ){%>          

          <mat-form-field>
            <mat-label<%if (!field.readonly) {%> for="<%=field.name%>"<%}%>><%=field.label%></mat-label>

            <%if (field.readonly) {%>
              <input matInput [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" placeholder="<%=field.label%>" readonly> 
            <%} else {%>
              
              <% if (field.control) { %>

                  <% if( field.control === 'date') { %>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" placeholder="<%=field.label%>">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  <% } %>

                  <% if( field.control === 'number') { %>
                    <input matInput type="number" [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" placeholder="<%=field.label%>" <%=field.required?'required':''%>>
                  <% } %>
                  
                  <% if( field.control === 'tel') { %>
                    <input matInput type="tel" [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" placeholder="<%=field.label%>" <%=field.required?'required':''%>>
                  <% } %>
    
                  <% if( field.control === 'email') { %>
                    <input matInput type="email" [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" placeholder="<%=field.label%>" <%=field.required?'required':''%>>
                  <% } %>

                  <% if( field.control === 'chips') { %>
                    <mat-chip-listbox [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" <%=field.required?'required':''%>>             
                      <mat-chip-option *ngFor="let item of <%=field.name%>List" [value]="item.value">
                        {{item.label}}
                      </mat-chip-option>
                    </mat-chip-listbox >
                  <% } %>

                  <% if( field.control === 'select') { %>
                    <mat-select [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" <%=field.required?'required':''%>>
                      <mat-option value="" selected></mat-option>                  
                      <mat-option *ngFor="let item of <%=field.name%>List" [value]="item.value">
                        {{item.label}}
                      </mat-option>
                    </mat-select>
                    
                  <% } %>

                  <% if( field.control === 'radio-group') { %>
                      <kmat-field-radio-group
                      [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" name="<%=field.name%>" [options]="<%=field.name%>List" <%=field.required?'required':''%>>
                      </kmat-field-radio-group>
                  <% } %>

              <% }else{ %>
                
                  <input matInput [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" placeholder="<%=field.label%>" <%=field.required?'required':''%>>

              <% } %>

            <%}%>
          </mat-form-field>
          
          <%}%>

        <% } %>
          <!-- todo: figure out better material styling for alerts -->
          <mtx-alert
              *ngIf="feedback.message"
              [type]="feedback.type"
              >
              {{ feedback.message }}
          </mtx-alert>
          <div class="button-row" role="group">
            <button type="submit" mat-raised-button color="primary" [disabled]="loading">Save</button>
          </div>
        </form>
        <mat-progress-bar
          *ngIf="loading"
          class="m-b-24"
          color="primary"
          mode="indeterminate"
        >
        </mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>